@import url(https://fonts.googleapis.com/css?family=Lato);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'Lato', sans-serif;
}

h2 {
    font-family: 'Lato', sans-serif;
}

header {
    background: #4fb98d;
    font-family: 'Lato', sans-serif;
}

header nav ul {
    overflow: hidden;
    list-style: none;
    text-align: center;
}

header nav ul li {
    margin-right: 3%;
    float: left;
}

header nav ul li a {
    color: white;
    padding: 20px;
    text-decoration: none;
    display: block;
}

header nav ul li a:hover {
    background-color: #ffffff;
    color: #4fb98d;
}

.site-form ul {
    list-style: none;
    display: inline-block;
}

@media screen and (max-width: 870px){
    header nav {
        width: 100%;
        height: 100%;
        margin: 0;
        background: rgb(96, 214, 165);
    }

    header nav ul li {
        display: block;
        float: none;
        border-bottom: 1px solid rgba(255, 255, 255, 3)
    }
}