@import url(https://fonts.googleapis.com/css?family=Lato);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background-image: url("https://1wezoc1ei3zc3h70um3fcvye-wpengine.netdna-ssl.com/wp-content/uploads/2016/03/shutterstock_103402628.jpg");
    background-position-x: 70%;
    background-color: rgba(255, 255, 255, 0.5);
    background-blend-mode: lighten;
}

header {
    background: #4fb98d;
    font-family: 'Lato', sans-serif;
}

header nav ul {
    overflow: hidden;
    list-style: none;
    text-align: center;
}

header nav ul li {
    margin-right: 3%;
    float: left;
}

header nav ul li a {
    color: white;
    padding: 20px;
    text-decoration: none;
    display: block;
}

header nav ul li a:hover {
    background-color: #ffffff;
    color: #4fb98d;
}

.login {
    position: absolute;
	top: 50%;
	left: 50%;
	width: 500px;
	margin-left:-250px;
	height: 260px;
	margin-top: -150px;
	border: 2px solid #808080;
    padding: 1%;
    background: #fff;
}

.site-form ul {
    list-style: none;
    display: inline-block;
}

.site-form {
    text-align: center;
}

h1 {
    text-align: center;
}

.account_options {
    text-align: center;
}

.pass a:hover {
    color: #4fb98d;
}

.signup{
    font-size: 1.1rem;
    font-weight: bold;
}

.signup a {
    color: #901b94;
}

.signup a:hover {
    color: #4fb98d;
}

.account_options ul li {
    list-style-type: none;
    display: inline;
    margin: 2%;
}

.ingreso {
    height: 5vh;
    width: 6vw;
    margin-bottom: 3%;
    font-size: 1.1em;
    font-family: 'Lato', sans-serif;
    background-color: #2277e6;
    border-color: #fff;
    color: #fff;
    border-radius: 20px 20px 20px 20px;
}

@media screen and (max-width: 870px){
    header nav {
        width: 100%;
        height: 100%;
        margin: 0;
        background: rgb(96, 214, 165);
    }

    header nav ul li {
        display: block;
        float: none;
        border-bottom: 1px solid rgba(255, 255, 255, 3)
    }
}