{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Registro Mis Perris</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/static/style.css">

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <header>
                    <nav>
                        <ul>
                            <li>
                                <img src="/static/IMG/logo.png" alt="logo">
                            </li>
                            <li>
                                <a href="#">Inicio</a>
                            </li>
                            <li>
                                <a href="#">Quiénes Somos</a>
                            </li>
                            <li>
                                <a href="#">Servicios</a>
                            </li>
                            <li>
                                <a href="#">Contáctanos</a>
                            </li>

                        </ul>
                    </nav>
                </header>
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>

</body>

</html>