{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Mis Perris</title>
    <script src="/static/Js/jquery-3.3.1.js"></script>
    <link rel="stylesheet" href="/static/fontsicon/style.css">
    <link rel="stylesheet" href="/static/css/flexboxgrid.css">
    <link rel="stylesheet" href="" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script src="static/Js/jquery.flexslider.js"></script>
    <link rel="stylesheet" href="/static/css/LightBox.css">
    <link rel="stylesheet" href="/static/css/flexslider.css">
    <script type="text/javascript" charset="utf-8">
        $(window).load(function () {
            $('.flexslider').flexslider();
        });
    </script>
    <script src="static/Js/script.js"></script>
    <link rel="stylesheet" href="/static/css/Style.css">

</head>
<body>
    <div class="">
        <div class="row">
            <div class="col-xs-12">
                <header>
                    <nav>
                        <ul>
                            <li>
                                <img src="/static/IMG/logo.png" alt="logo">
                            </li>
                            <li>
                                <a href="{% url 'blog:home' %}">Inicio</a>
                            </li>
                            <li>
                                <a href="#">Quiénes Somos</a>
                            </li>
                            <li>
                                <a href="#">Servicios</a>
                            </li>
                            <li>
                                <a href="#">Contáctanos</a>
                            </li>
                            {% if user.is_authenticated %}
                            <li style="font-size:20px">
                                <div>
                                Usuario: {{ request.user }}

                                </div>
                                <form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit"> Salir </button>
                                </form>
                            </li>
                            {% elif request.get_full_path == Registro.html %}
                            <li>
                                <a href="Registro.html">Adopta Aqui!</a>
                            </li>
                            {% else %}
                            <li style="font-size:20px">
                                <a href="{% url 'accounts:login' %}">INGRESA</a>
                            </li>
                            {% endif %}

                        </ul>
                    </nav>
                </header>
                <br>
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</body>

</html>