{% extends 'blog/base.html' %} {% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Registro Mis Perris</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>

<body>
    {% block content %} 
        {% for usuario in usuarios %}
            <div class="post">
                <div class="date">
                    {{ usuario.fecha_publicacion }}
                </div>
                <h1>
                    <a href="">{{ usuario.rut }}</a>
                </h1>
                <h1>
                    <a href="#">{{ usuario.nombre_completo }}</a>
                </h1>
                <h1><a href="{% url 'usuario_detail' pk=usuario.pk %}">{{ usuario.rut }}</a></h1>
            </div>
        {% endfor %} 
    {% endblock %}
</body>

</html>