{% extends 'blog/base.html' %} 

{% block content %}
<div class="post">
    {% if usuario.fecha_publicacion %}
    <div class="date">
        {{ usuario.fecha_publicacion }}
    </div>
    {% endif %}
    <a class="btn btn-default" href="{% url 'Usuario_Edit' pk=usuario.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
    <h1>
        <a href="">{{ usuario.rut }}</a>
    </h1>
    <h1>
        <a href="">{{ usuario.nombre_completo }}</a>
    </h1>
    <h1>
        <a href="{% url 'Usuario_Detail' pk=usuario.pk %}">{{ usuario.rut }}</a>
    </h1>
</div>
{% endblock %}